ARTICLES LINK address for
BITMASK AND DIGIT DP


1)digit dp
https://codeforces.com/blog/entry/53960





2)bitmask dp
https://www.hackerearth.com/practice/algorithms/dynamic-programming/bit-masking/tutorial/